@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
@import url('https://fonts.googleapis.com/css?family=Dokdo');
@import url('https://fonts.googleapis.com/css?family=Dokdo|PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Gochi+Hand');
.App {
  text-align: center;
  overflow-y: hidden;
  height: 101%;
  width: 101%;
  background: url("./imgs/fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 100%;
}

.App-header {
  background-color: black;
  height: 40px;
  border-top: 2px solid tomato;
  border-bottom: 1px solid tomato;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-promotion {
  position: relative;
  top: 41px;
  background-color: white;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid tomato;
  background: url('https://image.freepik.com/foto-gratis/mezcla-frutos-secos-fruta_23-2147689644.jpg')
}

.App-offers {
  margin-top:80px;
  width:100%;
  height:200px;
  background-color:white;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.App-body {
  overflow-y: scroll;
  width: 100vw;
  height: 111vh;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rombo {
  position: relative;
  top: 70px;
  left: 40px;
  width: 80px;
  height: 80px;
  border: 3px solid #555;
  background: #428bca;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.App-link {
  color: #61dafb;
}

.main-container {
  width: 1009px;
  max-height: 600px;
  margin-top: 50px;
  min-height: 500px;
  border-radius: 28px 28px 28px 28px;
  -moz-border-radius: 28px 28px 28px 28px;
  -webkit-border-radius: 28px 28px 28px 28px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background: linear-gradient(rgb(94, 48, 5, 0.4), rgb(94, 48, 5, 0.4));
  border: 3px solid tomato;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}