.offer-container{
    width: 150px;
    height: 150px;
    margin:50px;
  background: url('https://images.vexels.com/media/users/3/69903/preview2/b1202f9d5ab8545465b126a9a3916881-estante-de-madera-realista-con-luces.jpg');
  background-repeat: no-repeat;
    background-size: 100% 100%;
}

.offer-img{
    width:120px;
    height:120px;
    margin-top:30px;
    margin-left:15px;
    background: url('http://grupofarm.com.mx/images/frutos_secos/nueces_india_horneadas.png');
    background-repeat: no-repeat;
    background-size: 80% 80%;
}
.offer-price{
    margin:5px;
    position:absolute;
    color:red;
    font-size: 20px;
    -moz-transform: rotate(352deg);
    -webkit-transform: rotate(352deg);
    -o-transform: rotate(352deg);
    -ms-transform: rotate(352deg);
    transform: rotate(352deg);
    border: solid 2px orangered;

}