#header-container {
display:inline-flex;
width:100%;
align-items: center;
justify-content: space-around;
}
.header-title{
  width:20px;
  height:20px;
}
#header-container.animate {
  transition: rotate(30deg);
  background-color: red;
}

#logo-menu {
  width: 200px;
  height: 300px;
}

.expand {
  height: 40px !important;
  transition: height 1000ms ease-out;
}

.collapse {
  height: 23px !important;
  transition: height 1500ms ease-out;
}

@keyframes appear-logo {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes disappear-logo {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}

.transitionImageIn {
  animation: appear-logo ease 1s backwards;
}

.transitionImageOut {
  animation: disappear-logo ease-in-out 1s forwards;
}